@import "./../constants";

.header {
  box-sizing: border-box;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  transition: top .5s, box-shadow 1s, background 1s;
  z-index: 2;
  position: absolute;
  width: 100%;

  @media screen and (max-width: 767px) {

    justify-content: space-between;
    background: none;
  }

  &__logo {
    color: white;
    margin: .5rem;
    font-size: 3rem;
    font-family: 'Caveat Brush', cursive;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      display: none;
    }

  }

  &__wrapper {
    height: 7.5rem;
  }

  &--init {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    position: fixed;
    width: 100%;
  }

  &--show {
    top: 0;
    background: $blue;
    position: fixed;
    width: 100%;
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, .3);
  }

  &--hide {
    width: 100%;
    box-sizing: border-box;
    top: -7.8rem;
    position: fixed;
  }

  &__nav-desktop {
    font-size: 1rem;
    margin-right: 2rem;
    display: none;

    li {
      display: inline-block;
      padding-right: 1rem;
      padding-left: 1rem;
    }


    @media screen and (min-width: 768px) {
      display: block;
    }

  }

  a {
    text-decoration: none;
  }

  &__link {

    color: white;
    text-decoration: none;
    padding: 1.4rem;
    font-size: 1.5em;

    &--blue {
      color: white;
    }
  }

  &__flag {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 4px;
    border-radius: 15px;
    opacity: 1;
  }

  &__nav-mobile {
    z-index: 2;
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__mobile-menu {
    width: 100%;
    background: $blue;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
    transition: right .7s;

    @media screen and (min-width: 768px) {
      display: none;
    }

    ul {
      top: 30%;
      position: relative;
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      width: 80%;
    }

    .record {
      font-size: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-top: 1px solid white;

      &--last {
        border-bottom: 1px solid white;
      }
    }

    .m-right {
      margin-right: 1.2rem;
    }

    a {
      color: white;
      text-decoration: none;
      margin-left: 1rem;

      &:hover {
        color: $blue;
      }
    }

    .header__flag {
      margin-right: 1rem;
    }

    .long-text {
      display: inline-block;
      width: 50%;
    }

    .long-image {
      margin-top: -2.7rem;
    }

  }
}