@import "./../constants";

.carousel {
  border: none !important;

  &__wrapper {
    position: relative;
  }

  &__item {
    height: 100vh;
    width: 100%;
    position: relative;
    background: no-repeat center center scroll;
    background-size: cover;
    margin: 0 auto;
  }

  &__description {
    position: absolute;
    bottom: .7rem;
    color: white;
    font-size: 1.8rem;
    left: 1rem;

    @media screen and (max-width: $mobile) {
      font-size: 1.6rem;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 7rem;
    }
  }

  &__order {
    position: absolute;
    bottom: .7rem;
    right: 1rem;
    color: white;
    font-size: 1.8rem;

    @media screen and (max-width: $mobile) {
      font-size: 1.6rem;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 5rem;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }

    &--left {
      transform: translate(50%, -50%);
      left: 1rem;
    }

    &--right {
      transform: translate(-50%, -50%);
      right: 1rem;
    }

    &--z1 {
      z-index: 1;
    }

    &--z2 {
      z-index: 2;
    }

  }
}