@import "./constants";

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  height: 100%;
  padding: 0;

  &.mobile-menu-open {
    overflow: hidden;
  }
}


.page {
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {

  /* width */
  ::-webkit-scrollbar {
    width: .6rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $lightgray;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.up {
  color: $blue;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: #ff4081;
  padding: 1.6rem;
  text-align: center;
  border-radius: .5rem;
  text-decoration: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  &--blue {
    background: rgb(97, 129, 182);
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 3rem 3rem;
  width: 50%;
  font-size: 5rem;
  border: 1px solid #fff;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
  margin: 0 auto;

  &--small {
    font-size: 3rem;
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    &__text {
      width: 80%;
    }

  }
}

.section {

  &__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: $pink;
    margin-bottom: .6rem;
  }

  &__subtitle {
    margin-top: 0;
    font-size: 1.6rem;
    text-align: center;
    color: $gray;
  }
}

.active-link {
  border: 1px solid white;
  border-radius: .5rem;
}

.arrow-down {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  color: white;
  font-size: 1.1rem;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(.75);
  }
  100% {
    transform: scale(.75);
  }
}